[submodule "HBUI/vendor/magic_enum"]
	path = HBUI/vendor/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "HBUI/vendor/spdlog"]
	path = HBUI/vendor/spdlog
	url = https://github.com/kasperhbo/spdlog.git
[submodule "HBUI/vendor/fmt"]
	path = HBUI/vendor/fmt
	url = https://github.com/kasperhbo/fmt.git
